body {
    background-image: url(Agricultural\ Side.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }